.signform {
  width: 100%;
  margin: 0px auto;
  // align-items: center;
  // background-image: url("https://res.cloudinary.com/dhxefoe7j/image/upload/v1662541544/click%20n%20pole/20220907_105848_0000_bluaix.png");
  background-position: center;
  background-size: cover;
  // height: 1000px;
  display: flex;
  // justify-content: space-around;
  // align-items: center;
  // flex-direction:row;


  position: relative;
}
.signgroup{
  padding: 0 40px;
  margin: 0 auto;
}
// .signpic{
//   margin: 0 auto;
// }
.formdiv {
  width: 300px;
  background-color: rgb(248, 240, 230);
  border-radius: 6px;
  box-shadow: 0 0 1px 1px lightgrey;
  padding: 20px;
  margin: 0 auto;
  // position: absolute;
  // bottom: 100px;
  // right: 500px;
}
.formdiv .signh2 {
  text-align: center;
}
a.backsign {
  margin-left: 20px;
  text-decoration: none;
  border-radius: 6px;
  background-color: rgba(250, 235, 215, 0.653);
  color: black;
  padding: 8px 10px;
}
.logosign img{
  // position: absolute;
  // top: 0;
  // right:300px;
  width: 400px;
}
