// Specific CSS for your home-page
.banner {
  // background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1662540392/click%20n%20pole/Mon_projet_qpqj6u.png');
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1662654994/click%20n%20pole/outside_1_pica77.png');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  // width: 900px;
  height: 700px;
  color: white;
  display: flex;
  // flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
}

// @media(max-width: 992px) {
//   .banner {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .banner {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
// @media(max-width: 400px) {
//   .banner {
//     grid-template-columns: 1fr 1fr;
//   }
// }

.logobanner{
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}
.logobanner img{
  max-width: 500px;
  padding-right: 60px;
}
.banner-text {
  width: fit-content;
  position: absolute;
  bottom: 150px;
  left: 24px;
  // margin-left: 60px;
  // margin-bottom: 30px;
  // text-align: right;
}

.banner-text h1{
  font-size: 45px;

}
.banner-text h3{
  font-weight: 30px;
}
.auth-buttons {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  // margin-left: 32px;
  margin: 100px 60px;
}
.auth-buttons a{
  text-decoration: none;
  padding: 10px 12px;
  font-weight: bold;
  color: rgb(168, 97, 12);
  background-color: rgb(236, 193, 137);
  border-radius: 6px;
  font-size: 24px;
}
.auth-buttons a:hover {
  background-color:rgb(168, 97, 12);
  color:white;

}
a.login {
  padding: 10px 26px ;
}


.social-media{
  background-color: rgb(0, 0, 0);
  text-align: right;
  padding: 20px 20px;
}
.social-media i{
  color: rgb(221, 157, 56);
}
.social-media ul{
  padding-left: 0;
  display: inline;
  list-style: none;
}
.social-media li{
  display: inline;
}
.social-media i{
  font-size: 36px;
 padding: 14px 20px;
}
.social-media i:hover{
  color: rgb(236, 193, 137);
}
.find-share {
  background-color: #deddda;
  text-align: center;
  padding: 50px 50px;

}
.find-share h1{
  font-size: 30px;
  font-weight: bold;
}
.find-share h4{
  font-weight: bold;
}
.mail {
  background-color: black;
  color: rgb(221, 157, 56);
  padding-top: 14px;
  padding-left: 20px;

}
.bottom {
  display: flex;
  justify-content: space-between;
  background-color: black;
  flex-grow: 1;

}
.box1{
  display: flex;
  // height: 400px;
  justify-content: space-around;
  align-items: center;
  background-color: #deddda;
}
.find-info{
  background-color: #deddda;
  text-align:right;
  padding: 50px 50px;
  flex-grow: 1;

}
.find-info p{
  font-size: 20px;
}
.find-info h4{
  font-weight: bold;
  font-size: 22px;
}

.tuto{
  background-color: rgb(39, 37, 36);
  display: flex;
  // height: 400px;
  justify-content: space-around;
  align-items: center;

}
.tutoscreen {

  background-color: rgb(39, 37, 36);
  color: white;
  margin: 0 auto;
  padding: 30px 50px 50px;
}

.tuto-shop{
  background-color: rgb(39, 37, 36);
  color: white;
  text-align: center;
  flex-grow: 1;
  // height: 500px;
  padding: 50px 50px;
}
