<div class="banner">

  <div class="banner-text">
    <h1>The app all polers need,</h1>
    <p>Pole anywhere, anytime !</p>
  </div>
  <%# <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339824/click%20n%20pole/png_20220905_021232_0000_kivrm6.png', class:'outside') %>



  <div class="auth-buttons">
    <a href="#">Registrer</a>
    <a href="#">Log in</a>
  </div>

</div>
